<!DOCTYPE html>
<head>
  <title>GPT-4</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='LookingGlass.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <h3>GPT-4</h3>
  <form action="/" method="post">
    <textarea style="overflow-y: auto;" placeholder="Enter your prompt" name="question" rows="10" cols="60" required autofocus>
	</textarea>
    <input type="submit" value="Submit" />
  </form>
  {% if result %}
  <div class="result">{{ result | safe }}</div>
  {% endif %}
</body>

